.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 16px 0;
}

.logo-accent {
  color: #4d5ae5;
}
.header-nav {
  display: none;
}

.header-contact-info {
  display: none;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-contact-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}
.header-contact-item a {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-contact-item a:hover,
.header-contact-item a:focus {
  color: #404bbf;
}
.header-contact-list {
  display: flex;
  gap: 12px;
}
.header-nav-link,
.header-contact-item a {
  display: block;
}
.header-nav-link.current {
  color: #404bbf;
}
.header-nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}
.header-nav-link.current:hover::after,
.header-nav-link.current:focus::after {
  color: #404bbf;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}
.menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-open-icon {
  color: #2e2f42;
}

@media (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
  .logo {
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
  }
  .header-nav-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    padding: 24px 0;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }
  .header-contact-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-left: auto;
  }
  .header-contact-list {
    flex-direction: column;
  }
  .menu-open-btn {
    display: none;
  }

  @media (min-width: 1158px) {
    .logo {
      margin-right: 76px;
    }
    .header-contact-item {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    .header-contact-list {
      display: flex;
      gap: 40px;
    }

    .header-nav {
      margin-right: 0px;
    }
    .header-contact-list {
      flex-direction: row;
    }
    .header-contact-item a {
      padding: 24px 0;
    }
  }
}
